absl-py==2.1.0
acres==0.5.0
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
argcomplete==3.6.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.5
attr==0.3.1
attrs==25.3.0
audioread==3.0.1
azure-core==1.34.0
azure-storage-blob==12.25.1
babel==2.17.0
beautifulsoup4==4.13.3
black==25.1.0
bleach==5.0.1
blinker==1.9.0
blosc2==2.7.1
boto==2.49.0
boto3==1.38.41
botocore==1.38.41
branca==0.7.0
cachetools==5.5.2
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.3.2
Choco==1.0.5
ci-info==0.3.0
click==8.1.7
colorama==0.4.6
comm==0.2.0
configobj==5.0.9
configparser==6.0.0
confluent-kafka==2.3.0
connexion==3.2.0
contourpy==1.2.0
cryptography==45.0.4
cycler==0.12.1
Cython==3.0.11
dataclasses-json==0.6.7
datamodel-code-generator==0.26.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
distro==1.9.0
Django==5.1.11
django-annoying==0.10.6
django-cors-headers==4.7.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==24.3
django-migration-linter==5.2.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.10.3
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
dnspython==2.7.0
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
elastic-transport==8.11.0
elasticsearch==7.9.1
email_validator==2.2.0
etelemetry==0.3.1
executing==2.0.1
expiringdict==1.2.2
Faker==37.4.0
fastjsonschema==2.21.1
filelock==3.13.1
fitz==0.0.1.dev2
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==4.11.1
flatbuffers==24.3.25
folium==0.15.1
fonttools==4.47.0
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2024.10.0
gast==0.6.0
genson==1.3.0
google-api-core #==2.25.1
google-auth==2.40.3
google-cloud-appengine-logging #==1.6.2
google-cloud-audit-log #==0.3.2
google-cloud-core==2.4.3
google-cloud-logging #==3.12.1
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
google_search_results==2.4.2
googleapis-common-protos #==1.70.0
greenlet==3.2.4
groundingdino-py==0.4.0
grpc-google-iam-v1 #==0.14.2
grpcio==1.73.0
grpcio-status #==1.73.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface==0.0.1
huggingface-hub==0.34.3
humansignal-drf-yasg==1.21.10.post1
idna==3.6
ijson==3.4.0
importlib_metadata==8.7.0
inflect==5.6.2
inflection==0.5.1
iniconfig==2.1.0
ipykernel==6.27.0
ipython==8.17.2
ipython-genutils==0.2.0
ipywidgets==8.1.7
isodate==0.7.2
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jax==0.6.1
jaxlib==0.6.1
jedi==0.19.1
Jinja2==3.1.2
jiter==0.10.0
jmespath==1.0.1
joblib==1.3.2
jsf==0.11.2
json5==0.12.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.5
jupyter_client==8.6.0
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.5.0
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kafka==1.3.5
kafka-python==2.0.2
kaggle==1.5.16
kagglehub==0.3.3
keras==3.6.0
kiwisolver==1.4.5
label-studio==1.19.0
label-studio-sdk==1.0.16
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.74
langchain-huggingface==0.3.1
langchain-openai==0.3.29
langchain-pinecone==0.2.11
langchain-tests==0.3.20
langchain-text-splitters==0.3.9
langsmith==0.4.13
launchdarkly-server-sdk==8.2.1
lazy_loader==0.4
learntools==0.0.20
libclang==18.1.1
librosa==0.11.0
llvmlite==0.44.0
lockfile==0.12.2
looseversion==1.3.0
lxml==5.3.0
lxml_html_clean==0.4.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.26.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe # ==0.10.21
mistune==3.1.3
ml_dtypes #==0.5.1
mpmath==1.3.0
msgpack==1.1.0
multidict==6.6.4
mypy_extensions==1.1.0
namex==0.0.8
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
ndindex==1.9.2
nest-asyncio==1.5.8
networkx==3.4.2
ngrok==1.4.0
nibabel==5.3.2
ninja==1.11.1.4
nipype==1.10.0
nltk==3.9.1
noisereduce==3.0.3
notebook==7.4.5
notebook_shim==0.2.4
numba==0.61.2
numexpr==2.10.1
numpy==1.26.4
omx==0.1.0
openai==1.90.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
OpenMatrix==0.3.5.0
opentelemetry-api==1.34.1
opt_einsum==3.4.0
optree==0.13.0
ordered-set==4.0.2
orjson==3.11.1
overrides==7.7.0
packaging==24.2
pandas==2.3.0
pandocfilters==1.5.1
parso==0.8.3
pathlib==1.0.1
pathspec==0.12.1
patsy==0.5.6
Pillow==10.1.0
pinecone==7.3.0
pinecone-client==6.0.0
pinecone-plugin-assistant==1.7.0
pinecone-plugin-interface==0.0.7
platformdirs==4.0.0
playwright #==1.54.0
pluggy==1.6.0
pmdarima==2.0.4
pooch==1.8.2
prometheus_client==0.21.1
prompt-toolkit==3.0.41
propcache==0.3.2
proto-plus==1.26.1
protobuf  #==6.31.1
prov==2.1.1
psutil==5.9.6
psycopg2==2.9.9
psycopg2-binary==2.9.10
pure-eval==0.2.2
puremagic==1.30
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyboxen==1.3.0
pycocotools==2.0.10
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydot==4.0.1
pydub==0.25.1
pyee #==13.0.0
Pygments==2.17.2
PyJWT==2.10.1
PyMuPDF==1.26.3
pyngrok==7.2.3
pyparsing==3.1.1
pyppeteer #==2.0.0
pyreadstat==1.2.6
pyRFC3339==2.0.1
pyspark==3.5.0
pytesseract==0.3.13
pytest==8.4.1
pytest-asyncio==0.26.0
pytest-benchmark==5.1.0
pytest-codspeed==4.0.0
pytest-recording==0.13.4
pytest-socket==0.7.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.4
python-multipart==0.0.20
python-slugify==8.0.1
pytz==2022.7.1
pywin32==306
pywinpty==2.0.15
pyxnat==1.6.3
PyYAML==6.0.2
pyzmq==25.1.1
rdflib==7.1.4
redis==5.2.1
referencing==0.36.2
regex==2024.9.11
requests==2.32.4
requests-file==2.1.0
requests-mock==1.12.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.3
rpds-py==0.24.0
rq==1.16.2
rsa==4.9.1
rstr==3.2.2
rules==3.4
s3transfer==0.13.0
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.11.4
seaborn==0.13.0
semver==3.0.4
Send2Trash==1.8.3
sentence-transformers==5.1.0
sentencepiece==0.2.0
sentry-sdk==2.30.0
serpapi==0.1.5
setuptools==80.9.0
simplejson==3.20.1
six==1.16.0
smart-open==7.1.0
sniffio==1.3.1
sounddevice==0.5.2
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
SpeechRecognition==3.14.3
SQLAlchemy==2.0.40
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.46.1
statsmodels==0.14.1
supervision==0.6.0
swagger_ui_bundle==1.1.0
sympy==1.13.1
syrupy==4.9.1
tables==3.10.1
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-hub==0.16.1
tensorflow-intel #==2.18.0
termcolor==2.5.0
terminado==0.18.1
tesseract==0.1.3
text-unidecode==1.3
tf_keras==2.18.0
tflearn==0.5.0
threadpoolctl==3.2.0
tiktoken==0.11.0
timm==1.0.19
tinycss2==1.1.1
tldextract==5.3.0
tokenizers==0.21.1
toml==0.10.2
torch==2.5.0
torchvision==0.22.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
traits==7.0.2
transformers==4.50.2
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2023.3
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
ujson==5.10.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3==1.26.20
user-agents==2.2.0
uvicorn==0.34.0
vcrpy==7.0.0
virtualenv==20.25.0
watchfiles==1.0.5
wcwidth==0.2.12
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.1.3
wheel==0.40.0
widgetsnbextension==4.0.14
wrapt==1.16.0
xmljson==0.2.1
xyzservices==2023.10.1
yapf==0.43.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.23.0
streamlit
