absl-py
acres
addict
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
annotated-types
anyio
appdirs
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
attr
attrs
audioread
azure-core
azure-storage-blob
babel
beautifulsoup4
black
bleach
blinker
blosc2
boto
boto3
botocore
branca
cachetools
certifi
cffi
charset-normalizer
Choco
ci-info
click
colorama
comm
configobj
configparser
confluent-kafka
connexion
contourpy
cryptography
cycler
Cython
dataclasses-json
datamodel-code-generator
debugpy
decorator
defusedxml
distlib
distro
Django
django-annoying
django-cors-headers
django-csp
django-debug-toolbar
django-environ
django-extensions
django-filter
django-migration-linter
django-model-utils
django-ranged-fileresponse
django-rq
django-storages
django-user-agents
djangorestframework
djangorestframework_simplejwt
dnspython
drf-dynamic-fields
drf-flex-fields
drf-generators
elastic-transport
elasticsearch
email_validator
etelemetry
executing
expiringdict
Faker
fastjsonschema
filelock
fitz
Flask
Flask-SQLAlchemy
flask-swagger-ui
flatbuffers
folium
fonttools
fqdn
frozenlist
fsspec
gast
genson
google-api-core #
google-auth
google-cloud-appengine-logging #
google-cloud-audit-log #
google-cloud-core
google-cloud-logging #
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
google_search_results
googleapis-common-protos #
greenlet
groundingdino-py
grpc-google-iam-v1 #
grpcio
grpcio-status #
h11
h5py
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface
huggingface-hub
humansignal-drf-yasg
idna
ijson
importlib_metadata
inflect
inflection
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isodate
isoduration
isort
itsdangerous
jax
jaxlib
jedi
Jinja2
jiter
jmespath
joblib
jsf
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-highlight-selected-word
jupyter-lsp
jupyter_client
jupyter_contrib_core
jupyter_contrib_nbextensions
jupyter_core
jupyter_nbextensions_configurator
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kafka
kafka-python
kaggle
kagglehub
keras
kiwisolver
label-studio
label-studio-sdk
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-pinecone
langchain-tests
langchain-text-splitters
langsmith
launchdarkly-server-sdk
lazy_loader
learntools
libclang
librosa
llvmlite
lockfile
looseversion
lxml
lxml_html_clean
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mediapipe #
mistune
ml_dtypes #
mpmath
msgpack
multidict
mypy_extensions
namex
nbclient
nbconvert
nbformat
ndindex
nest-asyncio
networkx
ngrok
nibabel
ninja
nipype
nltk
noisereduce
notebook
notebook_shim
numba
numexpr
numpy
omx
openai
opencv-contrib-python
opencv-python
OpenMatrix
opentelemetry-api
opt_einsum
optree
ordered-set
orjson
overrides
packaging
pandas
pandocfilters
parso
pathlib
pathspec
patsy
Pillow
pinecone
pinecone-client
pinecone-plugin-assistant
pinecone-plugin-interface
platformdirs
playwright #
pluggy
pmdarima
pooch
prometheus_client
prompt-toolkit
propcache
proto-plus
protobuf  #
prov
psutil
psycopg2
psycopg2-binary
pure-eval
puremagic
py-cpuinfo
py4j
pyasn1
pyasn1_modules
pyboxen
pycocotools
pycparser
pydantic
pydantic-settings
pydantic_core
pydot
pydub
pyee #
Pygments
PyJWT
PyMuPDF
pyngrok
pyparsing
pyppeteer #
pyreadstat
pyRFC3339
pyspark
pytesseract
pytest
pytest-asyncio
pytest-benchmark
pytest-codspeed
pytest-recording
pytest-socket
python-dateutil
python-dotenv
python-json-logger
python-multipart
python-slugify
pytz
pywin32
pywinpty
pyxnat
PyYAML
pyzmq
rdflib
redis
referencing
regex
requests
requests-file
requests-mock
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rq
rsa
rstr
rules
s3transfer
safetensors
scikit-learn
scipy
seaborn
semver
Send2Trash
sentence-transformers
sentencepiece
sentry-sdk
serpapi
setuptools
simplejson
six
smart-open
sniffio
sounddevice
soundfile
soupsieve
soxr
SpeechRecognition
SQLAlchemy
sqlparse
stack-data
starlette
statsmodels
supervision
swagger_ui_bundle
sympy
syrupy
tables
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
tensorflow-intel #
termcolor
terminado
tesseract
text-unidecode
tf_keras
tflearn
threadpoolctl
tiktoken
timm
tinycss2
tldextract
tokenizers
toml
torch
torchvision
tornado
tqdm
traitlets
traits
transformers
types-python-dateutil
typing-inspect
typing-inspection
typing_extensions
tzdata
ua-parser
ua-parser-builtins
ujson
uri-template
uritemplate
urllib3
user-agents
uvicorn
vcrpy
virtualenv
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wrapt
xmljson
xyzservices
yapf
yarl
zipp
zstandard
