# Data and Models
data/raw/*
data/processed/*
models/artifacts/*
models/encoders/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# IDE & OS
.vscode/
.idea/
.DS_Store

# Experiments
experiments/mlruns/
.ipynb_checkpoints/

# Environment
.env
